{% extends "base.html" %}
{% load i18n %}

{% block title %}Account Profile | User Info{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
{% if user.is_authenticated %}
<form  action="" method="post">
{% csrf_token %}
<div class="form-group">
    <label for="username">{% trans "User Name" %}</label>
    <input type="text" class="form-control" id="username" placeholder="{{user.username}}" value="{{user.username}}" readonly>
</div>
<div class="form-group">
    <label for="first_name">{% trans "First Name" %}</label>
    <input type="text" class="form-control" id="first_name" value="{{user.first_name}}" placeholder="{{user.first_name}}">
</div>
<div class="form-group">
    <label for="last_name">{% trans "Last Name" %}</label>
    <input type="text" class="form-control" id="last_name" value="{{user.last_name}}" placeholder="{{user.last_name}}">
</div>
<div class="form-group">
    <label for="email">{% trans "Email Address" %}</label>
    <input type="email" class="form-control" id="email" value="{{user.email}}" placeholder="{{user.email}}">
</div>
<button  class="btn btn-lg btn-primary btn-danger btn-block" type="submit">{% trans "Reset" %}</button>
</form>
{% else %}
<h5>
<dl class="dl-horizontal">
<dt class="text-danger">{% trans "ERROR:" %}</dt>
<dd class="bg-danger">{% trans "You don't have the permission to get it!" %}</dd>
</dl>
</h5>
{% endif %}
        </div>
    </div>
{% endblock %}
