{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" id="username" name="username"
        placeholder="{% trans 'username' %}" value="" required />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="first_name"
        name="first_name"
        placeholder="{% trans 'first name' %}" value="" required />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="last_name" name="last_name"
        placeholder="{% trans 'last name' %}" value="" required />
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email"
        placeholder="{% trans 'email address' %}" value="" required />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password1"
        name="password1"
        placeholder="{% trans 'Password' %}" value="" required />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password2"
        name="password2"
        placeholder="{% trans 'Password confirmation' %}" value="" required />
    </div>
    {% if form.errors %}
    <div class="form-group">
<div class="alert alert-danger"><ul>
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    </div>
    {% endif %}
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans 'register' %}" />
</form>
        </div>
    </div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
